body {
    margin: 0;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    scroll-behavior: smooth;
    width: 100%;
    user-select: none;
}
.my-body {
    height: fit-content;
    width: 100;
}

/* new login form  */
.container {
    width: 270px;
    background: linear-gradient(
        0deg,
        rgb(255, 255, 255) 0%,
        rgb(244, 247, 251) 100%
    );
    border-radius: 40px;
    padding: 25px 20px;
    border: 5px solid rgb(255, 255, 280);
    box-shadow: rgb(4, 12, 120, 0.805) 0px 30px 30px -20px;
    margin: 20px;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: #000066;
}

.form {
    margin-top: 20px;
}

.form .input {
    width: 80%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: rgb(4, 12, 120, 0.25) 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
    color: rgb(4, 12, 120, 0.805);
}

.form .input::placeholder {
    color: rgb(4, 12, 120, 0.805);
}

.form .input:focus {
    outline: none;
    border-inline: 0.5px solid rgb(4, 12, 120, 0.805);
}

.form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.form .forgot-password a {
    font-size: 11px;
    color: rgb(4, 12, 120, 0.805);
    text-decoration: none;
}

.form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(
        45deg,
        rgb(4, 12, 48) 0%,
        rgb(4, 12, 120, 0.805) 100%
    );
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgb(4, 12, 120, 0.25) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgb(4, 12, 120, 0.805) 0px 23px 10px -20px;
}

.form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgb(4, 12, 120, 0.805) 0px 15px 10px -10px;
}

.social-account-container {
    margin-top: 25px;
}

.social-account-container .title {
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(170, 170, 170);
}

.social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
    background: linear-gradient(
        45deg,
        rgb(0, 0, 0) 0%,
        rgb(112, 112, 112) 100%
    );
    border: 5px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: rgb(4, 12, 120, 0.805) 0px 12px 10px -8px;
    transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
    fill: white;
    margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
    transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
}

.agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.agreement a {
    text-decoration: none;
    color: rgb(4, 12, 120, 0.805);
    font-size: 9px;
}
/* signup page */
#signcontainer {
    display: none;
    margin: 3px 5px;
}
.signup-form {
    width: 260px;
    background: linear-gradient(
        0deg,
        rgb(255, 255, 255) 0%,
        rgb(244, 247, 251) 100%
    );
    border-radius: 40px;
    padding: 30px 30px;
    border: 5px solid rgb(255, 255, 280);
    box-shadow: rgb(4, 12, 120, 0.805) 0px 30px 30px -20px;
    margin: 8px;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-btn {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(
        45deg,
        rgb(4, 12, 48) 0%,
        rgb(4, 12, 120, 0.805) 100%
    );
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgb(4, 12, 120, 0.25) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}
.signup-btn:hover {
    transform: scale(1.03);
    box-shadow: rgb(4, 12, 120, 0.805) 0px 23px 10px -20px;
}
.signup-input {
    width: 80%;
    background: white;
    border: none;
    padding: 15px 32px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: rgb(4, 12, 120, 0.25) 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}
.signup-input:focus {
    outline: none;
    border-inline: 0.5px solid rgb(4, 12, 120, 0.805);
}
.signup-input::-moz-placeholder {
    color: rgb(4, 12, 120, 0.805);
}
.signup-input::placeholder {
    color: rgb(4, 12, 120, 0.805);
}
.sign-header-lable {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(4, 12, 120, 0.805);
}
.registerpage-btn {
    position: relative;
    top: 120px;
    left: 50px;
    border: none;
    color: rgb(4, 12, 120, 0.805);
    background: none;
}
.register-lable {
    position: relative;
    top: 120px;
    left: 50px;
}

.form-container {
    border: none;
    height: 710px;
}
#logcontainer {
    border: none;
}
#passwordForm {
    display: none;
    position: absolute;
    left: 5px;
    top: 120px;
    border: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.back {
    color: indianred;
}
.forgot-password {
    color: palevioletred;
}
/* end of sign page  */
.homepage {
    display: none;
    z-index: 2;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    height: 94%;
    border: none;
    background-color: white;
}

.account {
    display: none;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;
    overflow-y: scroll;
    height: 93%;
}
.account-header {
    color: aliceblue;
    height: fit-content;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #000066;
}
.logout-btn {
    border: none;
    background: transparent;
    color: aliceblue;
}
.logout-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 3px;
}
.logout-text {
    font-size: 12px;
    color: darkred;
}
#userEmail {
}
.empire-container {
    color: #2b2b2b;
    overflow-y: scroll;
    position: relative;
    top: 85px;
    height: fit-content;
    width: 100%;
}
.empire-header {
    background-color: #000066;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
    position: relative;
}
.userProfile {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.account-list {
    display: flex;
    flex-direction: column;
    padding: 1px 10px;
    gap: 10px;
}
.setting {
    border: none;
    padding: -10px;
}
.setting-list {
    margin-bottom: 60px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.setting-item {
    border: none;
    display: flex;
    position: relative;
    left: -40px;
    width: 100%;
    align-items: center;
    gap: 60px 60px;
    padding: 5px 20px;
}
.li {
    border: none;
    padding: 5px 3px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    font-weight: 500;
    gap: 20px;
    user-select: none;
}
.li:hover {
    transition: 0.3s ease;
    padding: 7px 5px;
    font-weight: 700;
    border-radius: 3px;
    background-color: rgb(225, 226, 350);
}
.ng {
}
#addressPage {
    display: none;
    flex-direction: column;
    border: none;
    position: relative;
    left: -40px;
    height: fit-content;
    width: 354px;
    padding: 2px 2px;
}

.address-container {
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-display: Helvetica Neue;
    font-weight: 700;
    font-size: 17px;
    width: 99%;
    min-height: 140px;
}
.expIcon {
    position: absolute;
    left: 91%;
}
#accountManagement {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: relative;
    left: -40px;
    width: 335px;
    padding: 5px 10px;
}
#accountManagement span {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#accountManagement span:nth-child(4) {
    color: rgb(500, 10, 10);
}
#accountManagement div:nth-child(3) {
    padding: 20px 3px;
    display: flex;
    gap: 5px;
    display: none;
}
#changePass {
    border: 0.1px solid;
    border-radius: 10px;
    height: 30px;
    padding: 0px 7px;
    outline: none;
}
#sendReset {
    border: 0.1px solid;
    border-radius: 10px;
    height: 30px;
    background-color: black;
    color: white;
    outline: none;
}
#sendReset:hover {
    background-color: white;
    color: black;
    transition: 0.5s ease;
}
#confirmDel {
    border: none;
    color: red;
    font-weight: 500;
    text-align: center;
    height: fit-content;
    display: none;
    flex-direction: column;
}
#delAccBtn {
    position: relative;
    width: 160px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: green;
    color: white;
    bottom: -40px;
    left: 20%;
}

#passDelPage {
    display: none;
    margin-top: 10px;
}
#delPass {
    position: relative;
    border: 0.1px solid;
    border-radius: 10px;
    height: 40px;
    padding: 0px 7px;
    outline: none;
    top: 30px;
}
#deleteAccount {
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: black;
    color: white;
    position: relative;
    top: 30px;
}
/* ac end */
.category {
    display: none;
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 50px;
    width: 100%;
    z-index: 2;
}
/* feed page */
.feed-head {
    margin: 0;
    position: absolute;
}
.feedpage {
    display: none; /* Changed from none to block to make sure it's visible */
    z-index: 2;
    width: 100%;
    position: fixed;
    top: 0;
    height: 94%;
    overflow: hidden; /* Make sure the parent is not scrolling */
}

.feed-list {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100%; /* Make sure it fills the parent container */
}
/* feed loading  */
.loading-effect {
    position: relative;
    background: #dddddd;
    background-image: linear-gradient(
        to right,
        #dddddd 0%,
        #e0e0e0 10%,
        #f0f0f0 20%,
        #e0e0e0 30%,
        #dddddd 50%,
        #dddddd 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 200px;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: loading;
    -webkit-animation-timing-function: ease-in-out;
    border-radius: 10px;
}

@-webkit-keyframes loading {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}

#loaderGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns grid */
    grid-template-rows: repeat(2, 1fr); /* 2 rows grid */
    width: 98%;
    height: 93vh;
    gap: 10px;
    box-sizing: border-box;
}

.loader-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    border-radius: 15px;
    padding: 0px 20px;
    height: 100%;
    max-height: calc(50vh - 15px); /* Constraints for grid items */
}

#imagePlaceholder {
    width: 135px;
    height: 120px;
    border-radius: 15px;
}

#textContent {
    width: 100%;
    padding: 0.2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#titlePlaceholder {
    width: 100%;
    height: 30px;
    margin-bottom: 1rem;
    border-radius: 8px;
}

#descriptionPlaceholder {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-line {
    width: 100%;
    height: 10px;
    border-radius: 5px;
}
/* feed page end */
/* help page  */
.help {
    display: none;
    position: fixed;
    background-color: white;
    height: 900px;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    overflow: scroll;
    scroll-behavior: smooth;
}
.info-page {
    height: 700;
    margin-bottom: 230px;
}
/* help page  end*/
.buttom-nav {
    position: fixed;
    bottom: 0;
    height: 6%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: none;
    gap: 10%;
    color: #000066;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    z-index: 3;
    font-weight: 570;
    overflow: hidden; /* Prevents content overflow */
    box-sizing: border-box; /* Ensures padding and borders are included in the width and height */
}
.buttom-nav span:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.buttom-nav span:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.buttom-nav span:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.buttom-nav span:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.buttom-nav span:nth-child(5) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.list {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 50px;
}
.product-container {
    border: none;
    padding: 3px 3px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    font-size: 13px;
}
.product-img {
    border-radius: 10px;
}
.add-to-cart-btn {
    height: 35px;
    width: 170px;
    background-color: rgb(112, 112, 112, 0.57);
    font-weight: 500;
    border: none;
    border-radius: 7px;
    color: black;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}
.add-to-cart-btn:hover {
    animation: cartAnime 0.3s forwards;
    background-color: #000066;
    transition: 0.3s ease;
    color: white;
}
.add-to-cart-btn:focus {
    outline: none;
}
@keyframes cartAnime {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

/* search */
.search-bar {
    border: none;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #000066;
}

#search-product {
    height: 35px;
    width: 180px;
    margin: 0px 3px;
    padding: 1px 4px;
    border-radius: 7px;
    border: 0.1px solid white;
    outline: none;
    color: black;
}
.search-product-div {
    height: 305px;
    margin: 1%;
    border-radius: 5px;
    overflow: hidden;
}
.search-box {
    position: absolute;
    transition: 3s ease;
    top: 7px;
    left: 50px;
}
.search-page {
    position: fixed;
    transition: 0.3s ease;
    height: 100%;
    z-index: 1;
    background-color: white;
}
.close-search-page {
    position: absolute;
    top: 3px;
    left: 0;
    color: #000066;
    display: none;
}
#searchResults {
    display: none;
    grid-template-columns: 50% 50%;
    overflow-y: scroll;
    height: 87%;
    border: none;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 45px;
}
.search-loader {
    border: none;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38%;
    left: 40%;
}
.loader {
    --color: #a5a5b0;
    --size: 40px;
    position: relative;
    width: var(--size);
    height: var(--size);
}

.loader span {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--color);
    border-bottom: 1px solid transparent;
    border-radius: 100%;
    animation: keyframes-rotate 0.8s infinite linear;
}

.loader svg {
    width: 100%;
    height: 100%;
    padding: 25%;
    fill: var(--color);
    animation: keyframes-blink 0.8s infinite ease-in-out;
}

@keyframes keyframes-rotate {
    0% {
        transform: rotate(360deg);
    }
}

@keyframes keyframes-blink {
    50% {
        opacity: 0.8;
    }
}
/* search  end*/
.cart-btn {
    display: none;
    border-radius: 10px;
    border: none;
    position: fixed;
    top: 1px;
    right: 0;
    background: transparent;
    color: white;
    z-index: 49;
    outline: none;
}
.close-cart {
    border: 0.1px solid rgb(225, 226, 350);
    border-radius: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1;
}
.item-count {
    position: absolute;
    background-color: darkorange;
    bottom: 30px;
    right: 10px;
    border-radius: 10px;
    padding: 0.5px 3px;
    font-size: 11px;
    color: white;
}
.cart-menu {
    z-index: 50;
    height: 93%;
    width: 100%;
    top: 0;
    display: none;
    flex-direction: column;
    position: fixed;
    gap: 10px;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}
.cart-product-name {
    display: inline;
    overflow: hidden;
    width: 150px;
    max-height: 40px;
    font-size: 13px;
}
#cartList {
    position: absolute;
    top: 55px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding-bottom: 5px;
}

.cartItem-div {
    display: flex;
    gap: 5px;
    width: 350px;
    margin-left: 4px;
    border-radius: 8px;
    background-color: #f7f7f7;
}
.cart-img {
    height: 180px;
    width: 150px;
    border-radius: 10px;
}
.remove-btn {
    height: 40px;
    border: none;
    color: blue;
    position: relative;
    width: 80px;
}
.remove-btn:hover {
    color: darkblue;
}
.cart-list-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 180px;
}
.price-flux {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 150px;
    border: none;
    font-size: 14px;
}
.cart-seller {
    border: none;
    font-size: 12px;
    max-width: 150px;
    max-height: 50px;
}

.update-text {
    position: relative;
}
.cart-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    gap: 5px;
}
#price {
    color: darkgreen;
    font-weight: bold;
    font-size: 15px;
}
.quantity {
    background-color: rgb(250, 120, 0);
    color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qtn {
    border: none;
    padding: 3px 8px;
}

.empty-cart {
    position: relative;
    left: 35%;
    padding: 50px 0px;
}
.like {
    color: darkorange;
}
.likedImage {
    height: 150px;
    width: 120px;
}
.check-out-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 7%;
    background-color: #000066;
    color: aliceblue;
    outline: none;
    font-weight: 500;
}
.check-out-btn:hover {
    background-color: rgb(225, 225, 350);
    color: #000066;
    transition: 0.3s ease;
    font-weight: 700;
}
.subtotals {
    position: absolute;
    right: 5px;
    top: 12px;
    display: flex;
    flex-direction: row;
    height: 30px;
    width: fit-content;
    color: black;
    align-items: center;
    border-radius: 10px;
    border: none;
    gap: 5px;
    padding: 5px 5px;
}
/* Full-page overlay */
/* From Uiverse.io by arshshaikh06 */
.shimmer {
    position: relative;
    background: #dddddd;
    background-image: linear-gradient(
        to right,
        #dddddd 0%,
        #e0e0e0 10%,
        #f0f0f0 20%,
        #e0e0e0 30%,
        #dddddd 50%,
        #dddddd 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 200px;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: shimmer;
    -webkit-animation-timing-function: ease-in-out;
    border-radius: 10px; /* Apply border radius */
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}

#cartLoader {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #f7f7f7;
    border-radius: 15px; /* Add border radius to the container */
}

#square {
    width: 135px;
    height: 135px;
    border-radius: 15px; /* Apply border radius */
}

#content {
    flex: 1;
    height: 150px;
    width: 100%;
    padding: 0.5rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#content-title {
    width: 100%;
    height: 30px;
    margin-bottom: 1rem;
    border-radius: 8px; /* Apply border radius */
}

#content-desc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.line {
    width: 100%;
    height: 10px;
    border-radius: 5px; /* Apply border radius */
}
/* category items */
.category-box {
    border: none;
    width: 100%;
    height: 94%;
    overflow-y: scroll;
    display: inline-block;
    flex-direction: column;
    position: absolute;
    top: 50px;
    bottom: 0;
}
.category-box span {
    display: flex;
    align-items: center;
    font-size: 13px;
    overflow: hidden;
    height: 45px;
    width: 70px;
    margin: 3px 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2px 5px;
    background-color: rgb(190, 190, 190);
}
.cat-active {
    border-right: 10px solid darkorange;
    transition: 0.3s ease;
    color: white;
    font-weight: 900;
    transform: scale(1.05);
}

.category-head {
    border: none;
    width: 150px;
    margin: 7px 0px;
    font-weight: 900;
    font-size: 30px;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    z-index: 1;
    position: absolute;
}
.category-display {
    position: absolute;
    border: none;
    width: 74%;
    height: 92%;
    overflow-y: scroll;
    border-radius: 10px;
    right: 0;
    top: 50px;
    margin-right: 1px;
}
.for-gros {
    display: none;
    grid-template-columns: 45% 45%;
    gap: 3%;
}
.show {
    display: grid;
}

#ref {
    display: none;
}
.category-item-name {
    border: none;
    width: 80px;
    overflow: hidden;
    font-size: 11px;
    height: 23px;
    display: flex;
    justify-content: center;
}
.category-item-image {
    height: 150px;
    width: 100%;
    border-radius: 5px;
}
.category-prods {
    border: none;
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
    margin-left: 6%;
}
/* category items end*/
.cart-head {
    position: relative;
    left: 60px;
    top: -3px;
    font-weight: bold;
}
.pname {
    width: 170px;
    height: 15px;
    border: none;
    overflow-x: hidden;
    overflow-y: hidden;
}
.productP {
    top: 0;
    position: fixed;
    height: 800px;
    width: 100%;
    background-color: aliceblue;
    z-index: 20;
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: darkgreen;
}

/* notification */
.notification {
    display: none;
    height: 200px;
    width: 300px;
    position: fixed;
    top: 250px;
    left: 25px;
    font-weight: 300;
    backdrop-filter: blur(3px);
    background-color: rgb(4, 12, 48, 0.67);
    z-index: 999;
    border: 5px solid rgb(225, 226, 350);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgb(4, 12, 48, 0.89);
}
.noti-head {
    color: white;
    font-weight: 2000;
    text-align: center;
    font-size: 30px;
}
.notification-info {
    color: white;
    font-size: 20px;
    text-align: center;
}
.close-note {
    color: rgb(4, 12, 48);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 10px;
    padding: 10px 15px;
    border-radius: 7px;
    background-color: rgb(225, 226, 360);
}
/* notification end */
/* empviv logo */
.empviv-logo {
    height: 70px;
    width: 70px;
    border-radius: 7px;
    position: absolute;
    left: 140px;
    top: 30px;
}
/* empviv logo end */
.adds {
    position: relative;
    width: 360px;
    height: 170px;
    margin-top: 45px;
    background: #dddddd;
    background-image: linear-gradient(
        to right,
        #dddddd 0%,
        #e0e0e0 20%,
        #f0f0f0 40%,
        #e0e0e0 60%,
        #dddddd 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 100%;
    animation: shimmer 1.5s infinite linear;
    overflow: hidden;
}

/* Keyframes for shimmer animation */
@keyframes shimmer {
    0% {
        background-position: -800px 0;
    }
    100% {
        background-position: 800px 0;
    }
}
.giftcards {
    scroll-snap-align: start;
    height: 170px;
    width: 360px;
    display: inline-block;
}

.banter-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 72px;
    height: 72px;
    margin-left: -36px;
    margin-top: -36px;
}

.banter-loader__box {
    float: left;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.banter-loader__box:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1e90ff;
    border-radius: 7px;
}

.banter-loader__box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 6px;
}

.banter-loader__box:nth-child(1):before,
.banter-loader__box:nth-child(4):before {
    margin-left: 26px;
}

.banter-loader__box:nth-child(3):before {
    margin-top: 52px;
}

.banter-loader__box:last-child {
    margin-bottom: 0;
}

@keyframes moveBox-1 {
    9.0909090909% {
        transform: translate(-26px, 0);
    }

    18.1818181818% {
        transform: translate(0px, 0);
    }

    27.2727272727% {
        transform: translate(0px, 0);
    }

    36.3636363636% {
        transform: translate(26px, 0);
    }

    45.4545454545% {
        transform: translate(26px, 26px);
    }

    54.5454545455% {
        transform: translate(26px, 26px);
    }

    63.6363636364% {
        transform: translate(26px, 26px);
    }

    72.7272727273% {
        transform: translate(26px, 0px);
    }

    81.8181818182% {
        transform: translate(0px, 0px);
    }

    90.9090909091% {
        transform: translate(-26px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(1) {
    animation: moveBox-1 4s infinite;
}

@keyframes moveBox-2 {
    9.0909090909% {
        transform: translate(0, 0);
    }

    18.1818181818% {
        transform: translate(26px, 0);
    }

    27.2727272727% {
        transform: translate(0px, 0);
    }

    36.3636363636% {
        transform: translate(26px, 0);
    }

    45.4545454545% {
        transform: translate(26px, 26px);
    }

    54.5454545455% {
        transform: translate(26px, 26px);
    }

    63.6363636364% {
        transform: translate(26px, 26px);
    }

    72.7272727273% {
        transform: translate(26px, 26px);
    }

    81.8181818182% {
        transform: translate(0px, 26px);
    }

    90.9090909091% {
        transform: translate(0px, 26px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(2) {
    animation: moveBox-2 4s infinite;
}

@keyframes moveBox-3 {
    9.0909090909% {
        transform: translate(-26px, 0);
    }

    18.1818181818% {
        transform: translate(-26px, 0);
    }

    27.2727272727% {
        transform: translate(0px, 0);
    }

    36.3636363636% {
        transform: translate(-26px, 0);
    }

    45.4545454545% {
        transform: translate(-26px, 0);
    }

    54.5454545455% {
        transform: translate(-26px, 0);
    }

    63.6363636364% {
        transform: translate(-26px, 0);
    }

    72.7272727273% {
        transform: translate(-26px, 0);
    }

    81.8181818182% {
        transform: translate(-26px, -26px);
    }

    90.9090909091% {
        transform: translate(0px, -26px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(3) {
    animation: moveBox-3 4s infinite;
}

@keyframes moveBox-4 {
    9.0909090909% {
        transform: translate(-26px, 0);
    }

    18.1818181818% {
        transform: translate(-26px, 0);
    }

    27.2727272727% {
        transform: translate(-26px, -26px);
    }

    36.3636363636% {
        transform: translate(0px, -26px);
    }

    45.4545454545% {
        transform: translate(0px, 0px);
    }

    54.5454545455% {
        transform: translate(0px, -26px);
    }

    63.6363636364% {
        transform: translate(0px, -26px);
    }

    72.7272727273% {
        transform: translate(0px, -26px);
    }

    81.8181818182% {
        transform: translate(-26px, -26px);
    }

    90.9090909091% {
        transform: translate(-26px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(4) {
    animation: moveBox-4 4s infinite;
}

@keyframes moveBox-5 {
    9.0909090909% {
        transform: translate(0, 0);
    }

    18.1818181818% {
        transform: translate(0, 0);
    }

    27.2727272727% {
        transform: translate(0, 0);
    }

    36.3636363636% {
        transform: translate(26px, 0);
    }

    45.4545454545% {
        transform: translate(26px, 0);
    }

    54.5454545455% {
        transform: translate(26px, 0);
    }

    63.6363636364% {
        transform: translate(26px, 0);
    }

    72.7272727273% {
        transform: translate(26px, 0);
    }

    81.8181818182% {
        transform: translate(26px, -26px);
    }

    90.9090909091% {
        transform: translate(0px, -26px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(5) {
    animation: moveBox-5 4s infinite;
}

@keyframes moveBox-6 {
    9.0909090909% {
        transform: translate(0, 0);
    }

    18.1818181818% {
        transform: translate(-26px, 0);
    }

    27.2727272727% {
        transform: translate(-26px, 0);
    }

    36.3636363636% {
        transform: translate(0px, 0);
    }

    45.4545454545% {
        transform: translate(0px, 0);
    }

    54.5454545455% {
        transform: translate(0px, 0);
    }

    63.6363636364% {
        transform: translate(0px, 0);
    }

    72.7272727273% {
        transform: translate(0px, 26px);
    }

    81.8181818182% {
        transform: translate(-26px, 26px);
    }

    90.9090909091% {
        transform: translate(-26px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(6) {
    animation: moveBox-6 4s infinite;
}

@keyframes moveBox-7 {
    9.0909090909% {
        transform: translate(26px, 0);
    }

    18.1818181818% {
        transform: translate(26px, 0);
    }

    27.2727272727% {
        transform: translate(26px, 0);
    }

    36.3636363636% {
        transform: translate(0px, 0);
    }

    45.4545454545% {
        transform: translate(0px, -26px);
    }

    54.5454545455% {
        transform: translate(26px, -26px);
    }

    63.6363636364% {
        transform: translate(0px, -26px);
    }

    72.7272727273% {
        transform: translate(0px, -26px);
    }

    81.8181818182% {
        transform: translate(0px, 0px);
    }

    90.9090909091% {
        transform: translate(26px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(7) {
    animation: moveBox-7 4s infinite;
}

@keyframes moveBox-8 {
    9.0909090909% {
        transform: translate(0, 0);
    }

    18.1818181818% {
        transform: translate(-26px, 0);
    }

    27.2727272727% {
        transform: translate(-26px, -26px);
    }

    36.3636363636% {
        transform: translate(0px, -26px);
    }

    45.4545454545% {
        transform: translate(0px, -26px);
    }

    54.5454545455% {
        transform: translate(0px, -26px);
    }

    63.6363636364% {
        transform: translate(0px, -26px);
    }

    72.7272727273% {
        transform: translate(0px, -26px);
    }

    81.8181818182% {
        transform: translate(26px, -26px);
    }

    90.9090909091% {
        transform: translate(26px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(8) {
    animation: moveBox-8 4s infinite;
}

@keyframes moveBox-9 {
    9.0909090909% {
        transform: translate(-26px, 0);
    }

    18.1818181818% {
        transform: translate(-26px, 0);
    }

    27.2727272727% {
        transform: translate(0px, 0);
    }

    36.3636363636% {
        transform: translate(-26px, 0);
    }

    45.4545454545% {
        transform: translate(0px, 0);
    }

    54.5454545455% {
        transform: translate(0px, 0);
    }

    63.6363636364% {
        transform: translate(-26px, 0);
    }

    72.7272727273% {
        transform: translate(-26px, 0);
    }

    81.8181818182% {
        transform: translate(-52px, 0);
    }

    90.9090909091% {
        transform: translate(-26px, 0);
    }

    100% {
        transform: translate(0px, 0);
    }
}

.banter-loader__box:nth-child(9) {
    animation: moveBox-9 4s infinite;
}

/* page preloading animation  end*/
.flyer-loader {
    position: relative;
    left: 44%;
    top: 39%;
    border: 3px solid rgb(47, 28, 201);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-top: none;
    animation: flyerloader 0.53s infinite linear;
}
@keyframes flyerloader {
    0% {
        transform: rotate(0deg);
    }
    50% {
        border-bottom-color: darkorange;
    }
    100% {
        transform: rotate(360deg);
    }
}
.top-picks-box {
    border: none;
    width: 359px;
    height: fit-content;
    background: none;
    display: inline-block;
}
.top-picks {
    background: none;
    margin-left: 10px;
}
/* top-picks loader */
.top-picks-loader {
    position: relative;
    width: 110px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    background: #dddddd;
    background-image: linear-gradient(
        to right,
        #dddddd 0%,
        #e0e0e0 10%,
        #f0f0f0 20%,
        #e0e0e0 30%,
        #dddddd 50%,
        #dddddd 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 200px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: picks-loading-effect;
    animation-timing-function: ease-in-out;
    border-radius: 10px;
}

@keyframes picks-loading-effect {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: 400px 0;
    }
}

/* Center the loader vertically and horizontally */

/* Grid container for top picks loaders */
#topPicksContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* top-picks loader end */
.popular {
    border: none;
    width: 100%;
    height: fit-content;
    background: none;
}
.popular-head {
}
.brand {
    border: none;
    width: 15%;
    height: fit-content;
}
.brand-head {
}
.new-arrivals {
    border: none;
    width: 100%;
    background: none;
}
.new-arrivals-head {
}
#topPickList {
    margin: 0px 5px;
    border: none;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
}
.top-img {
    border-radius: 5px;
    z-index: 2;
}
.top-prod {
}
.top-picks-name {
    font-size: 10px;
    border: none;
    width: 100px;
    height: 12px;
    overflow: hidden;
}
.top-picks-id {
    font-size: 10px;
    color: rgb(0, 35, 25, 0.899);
    font-weight: bold;
}
.topPick-loader {
    border: 2px solid rgb(47, 28, 201);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    align-self: center;
    display: inline-block;
    margin: 100px 0px;
    left: 150px;
    border-top: none;
    animation: flyerloader 0.7s infinite linear;
}
#popularList {
    border: 3px solid rgb(225, 226, 350);
    border-radius: 10px;
    padding: 1px 1px;
    display: -webkit-flex;
    flex-direction: row;
    scroll-behavior: smooth;
    gap: 5px;
    overflow-x: scroll;
    height: 280px;
}
.price-box {
    gap: 5px;
    align-items: center;
    width: 150px;
    border: none;
    display: inline-block;
}
.popular-name {
    font-size: 10px;
    border: none;
    width: 150px;
    height: 12px;
    overflow: hidden;
}
.popular-prod {
    border: none;
    border-radius: 5px;
}
.popular-price {
    font-size: 12px;
}
.popular-cprice {
    font-size: 8px;
    color: darkred;
    text-decoration: 1px line-through;
}
.popular-img {
    border-radius: 5px;
    border: none;
}

#brandList {
    border: none;
    background-color: rgb(225, 226, 350);
    display: grid;
    grid-template-columns: auto auto auto;
    height: fit-content;
    padding: 5px 15px;
    margin: 5px 5px;
    border-radius: 10px;
}
.brand-prod {
    margin: 10px 0px;
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
}
.brand-img {
    border-radius: 10px;
}
/* address book  */
.adressbook-container {
    position: fixed;
    bottom: 0;
    border: none;
    width: 100%;
    height: 100vh;
    background-color: rgb(225, 226, 350);
    z-index: 120;
    display: none;
    flex-direction: column;
    overflow-y: scroll;
}
.container2 {
    position: relative;
    padding: 40px 0px;
    margin-left: 10px;
    margin-top: 70px;
    width: 330px;
    border: 5px solid rgb(170, 170, 170);
    overflow: hidden;
    background: transparent;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container2 header {
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.container2 .form {
    margin-top: 15px;
    margin-left: 10px;
}

.form .input-box {
    width: 80%;
    margin-top: 10px;
}

.input-box label {
    color: #000;
    font-size: 0.8em;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 30px;
    width: 80%;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid rgb(20, 10, 100);
    border-radius: 6px;
    padding: 0 5px;
    background: transparent;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 10px;
}

.form .gender-box {
    margin-top: 30px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 15px;
}

.gender input {
    accent-color: rgb(2, 12, 200);
}

.form :where(.gender input, .gender label) {
    cursor: none;
}

.gender label {
    color: #000;
}

.address :where(input, .select-box) {
    margin-top: 10px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #808080;
    font-size: 1rem;
    background: transparent;
}

.form button {
    height: 40px;
    width: 96%;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 25px;
    border: none;
    border-radius: 6px;
    cursor: none;
    transition: all 0.2s ease;
    background: rgb(175, 170, 222);
}

.form button:hover {
    background: rgb(175, 170, 300);
}
/* address end */

/* make order */
.make-order {
    position: fixed;
    top: 0;
    z-index: 60;
    height: 100%;
    width: 100%;
    background-color: white;
    display: none;
    flex-direction: column;
    gap: 5px;
}
#fees {
    height: fit-content;
    width: 100%;
    position: relative;
    padding: 3px 7px;
    background-color: whitesmoke;
}
#payment {
    position: relative;
    height: fit-content;
    width: 100%;
    margin: 0;
    background-color: whitesmoke;
    padding: 20px 10px;
}
.pay-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.method-box {
    display: flex;
    padding: 3px 5px;
    align-items: center;
}
.make-order-btn {
    position: fixed;
    bottom: 0;
    padding: 20px 5px;
    width: 50%;
    right: 0;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-weight: 500;
}
.add-more {
    position: fixed;
    bottom: 0;
    padding: 20px 5px;
    width: 50%;
    left: 0;
    outline: none;
    border: none;
    background-color: whitesmoke;
    color: black;
    font-weight: 500;
}
/* open product page  */
.p-page {
    position: absolute;
    width: 100%;
    height: 93%;
    z-index: 49;
    display: none;
    background-color: white;
    flex-direction: column;
    gap: 8px;
    overflow: scroll;
    padding-bottom: 2px;
    margin-bottom: 100%;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
}
.close-p-page {
    height: 24px;
    width: 24px;
    position: fixed;
    left: 0;
    top: 0;
    margin: 10px 10px;
    border-radius: 10px;
    color: #000066;
    backdrop-filter: blur(3px);
}
/* product page updated  */
.product-page-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: fit-content;
    box-shadow: 5px 0px 8px 1px rgb(112, 112, 112, 0.2);
}
.product-page-image {
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transition: scroll-snap-align 3s;
}
.product-page-name {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-weight: 300;
}
.price-card {
    display: flex;
    flex-direction: column;
}
.product-page-sellingprice {
    color: seagreen;
    padding: 1px 10px;
    font-weight: 700;
    font-size: 30px;
}
.product-page-costprice {
    color: red;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    font-weight: 400;
    text-decoration: 1px solid red line-through;
}
.product-page-id {
    font-weight: 300;
    padding: 5px 10px;
}
.product-page-seller {
    font-weight: 600;
    padding: 5px 10px;
    color: #000066;
}
.product-page-cart-box {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: -3px 0px 4px darkgray;
}
.product-page-cart-btn {
    width: 70%;
    border: none;
    outline: none;
    font-weight: 500;
    color: black;
    background-color: white;
}
.product-page-off {
    position: relative;
    background-color: darkorange;
    margin: 10px 10px;
    padding: 10px 5px;
    width: fit-content;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.product-page-call-btn {
    width: 30%;
    border: none;
    outline: none;
    font-weight: 500;
    color: white;
    background-color: #000066;
}
.product-page-call-btn:hover {
    width: 600px;
    transition: 0.5s ease;
}
.product-page-cart-btn:hover {
    width: 600px;
    transition: 0.5s ease;
}
.product-page-delivery-box {
    font-size: 15px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: fit-content;
    padding: 40px 0px;
    box-shadow: 3px 0px 8px 1px rgb(112, 112, 112, 0.2);
}
.return-and-cash-box {
    font-size: 15px;
    font-weight: 300;
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    width: 100%;
    height: fit-content;
    padding: 10px 0px;
    box-shadow: 3px 0px 8px 1px rgb(112, 112, 112, 0.2);
}
.delivery-box {
    font-size: 15px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: fit-content;
    padding: 10px 10px;
    box-shadow: 3px 0px 8px 1px rgb(112, 112, 112, 0.2);
}
.delivery-fee {
    border: 0.1px solid;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 5px 10px;
    padding: 5px 10px;
}
.returns {
    border: 0.1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 20px 3px;
    margin: 0px 5px;
    border-radius: 7px;
}
.cash-on-delivery {
    border: 0.1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 20px 3px;
    margin: 0px 5px;
    border-radius: 7px;
}
.image-item {
}
.images-container {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    scroll-snap-align: start;
}
/* top pop up */
.info-noti {
    z-index: 999;
    position: fixed;
    top: -4000px;
    border: 1px solid rgb(0, 0, 0);
    width: 356px;
    border-radius: 10px;
    height: 60px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 0px 1px;
}

/* new prod */
.new-products {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}
.new-arrival-product {
    border-radius: 7px;
    overflow: hidden;
    background-color: white;
    width: 95%;
    height: 300px;
    margin: 1%;
    padding: 1px 2px;
}
.new-arrival-name {
    font-size: 12px;
    overflow: hidden;
    border: none;
    height: 30px;
}
.new-arrival-sp {
    font-weight: 500;
    font-size: 17px;
}
.new-arrival-cp {
    color: red;
    text-decoration: line-through;
    font-size: 10px;
}
.new-arrival-seller {
    font-size: 13px;
    font-weight: 300;
}
.new-arrival-id {
    font-size: 12px;
    font-weight: 300;
}
.off-tag {
    position: relative;
    color: #000066;
    background-color: darkorange;
    top: -270px;
    right: 0;
    height: 40px;
    border: none;
    font-weight: 1000;
    width: 40px;
    border-radius: 7px;
    backdrop-filter: blur(32px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

/* Default styles for small screens */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .homepage {
        width: 100%;
    }
    .buttom-nav {
        width: 100%;
    }
    .category-box {
        width: 100%;
    }
    .cart-menu {
        width: 100%;
    }
    .new-products {
        width: 100%;
    }
    .p-page {
        width: 100%;
    }
    #brandList {
        width: 100%;
    }
    .top-picks-box {
        width: 100%;
    }
    .top-picks {
        margin-left: 20px;
    }
    .popular {
        width: 100%;
    }
    .giftcards {
        width: 100%;
    }
    .adds {
        width: 100%;
    }
}
